.menu {
    background-color: #FFFFFF;
    max-width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 70px;
}

* {
    padding: 0;
    margin: 0;
}

.Logo {
    margin-left: 35px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.panels {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.menu_panel {
    margin-right: 20px;
}